{{template "base/head" .}}

  <div class="inner cover">
    <h1 class="cover-heading">{{ .i18n.Tr "home.title" }}</h1>
    <p class="lead">
        {{ .i18n.Tr "home.title_description" }}
    </p>
  </div>

{{template "base/foot" .}}




